body {
    background: black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#welcomeCard {
    text-align: center;
}

#cardBody, #questionsCard, #resultsCard, #scoreboardCard {
    display: none;
}

#welcomeButton {
    padding-top: 16px;
    border-radius: 35px;
}

th {
    width: 33%;
}

table {
    width: 100%;
    text-align: center;
}

.par {
    background-color: azure;
    color: black;
}

.impar {
    background: grey
}

#resultsCard {
    text-align: center;
}

#firstPlayer {
    font-size: 50px;
    font: bold;
}

#secondPlayer {
    font-size: 38px;
}

#thirdPlayer {
    font-size: 25px;
}

.card {
    background: transparent;
}

.btn {
    background: yellow;
    color: black;
    border-color: black;
}

.btn:hover {
    background: purple;
    border-color: purple;
    color: white;
}


.btn:active {
    background: purple;
    border-color: purple;
}

.answer {
    width: 100%;
    align-content: center;
    text-align: center;
    font-size: larger;
}